li {
	padding: 20px 30px;
	margin: 20px auto;
	border: 1px solid rgb(222, 222, 222);
	border-radius: 7px;
}

.list-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.disease-list {
	border: none;
	padding: 0px;
	margin: 5px;
}